<!DOCTYPE html>
<html lang="en">
<head>
    <title>Activity 1</title>
</head>
<body>
    <h4>Answer me these questions 3:</h4>
    <div id="app">
        <p>1. What is your name?</p>
        <input type="text" v-model="que1" @input="checkIdk">

        <p>2. What is your quest?</p>
        <input type="text" v-model="que2" @input="checkIdk">

        <p v-if="que3option">3. What is your favorite color?</p>
        <p v-else>3. What is the airspeed velocity of an unladen swallow?</p>
        <input type="text" v-model="que3" @input="checkIdk">
        <br><br>

        <div v-if="output">
            <p v-if="print==='idk'">Knight: AAAAAAAAHHHHHHHHHHH!!!</p>
            <p v-else-if="print==='notIdk'">Bridgekeeper: Alright, off you go then</p>
        </div>
        <button @click="reset">Go again</button>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        let app = Vue.createApp({
            data() {
                return {
                    que1:"",
                    que2:"",
                    que3:"",
                    print:"",
                    que3option:true,
                    output:false,
                    inputData:''
                };
            },
            methods: {
                checkIdk() {
                    if (this.que1==='idk' || this.que2==='idk' || this.que3==='idk') {
                        this.print='idk';
                    }
                    else if (this.que1!=='idk' && this.que2!=='idk' && this.que3!=='idk'
                                && this.que1.length>0 && this.que2.length>0 && this.que3.length>0) {
                        this.print='notIdk';
                    } 
                    else {
                        this.print='';
                    }
                    this.output=true;
                },
                reset() {
                    this.que1="";
                    this.que2="";
                    this.que3="";
                    this.print="";
                    this.output=false;
                    this.que3option=!this.que3option;
                }
            }
        }).mount('#app')
    </script>
</body>
</html>
